.movie-card{
    display: "flex";
    flex-direction: "column";
    align-items: "center";
    height: "475px";
    .movie-card-img{
        border-bottom: 1px solid black;
        height: 350px;
        // width: 275px;
        object-fit: fill;
    }
    .movie-card-body{
        display: inline;
        .movie-card-title{
            font-size: 16px;
            text-align: left;
        }
        .movie-card-release-year{
            span{
                float: left;
            }
            text-align: right;
        }
    }

    .movie-card-button{
        width: 75px;
        background-color: black;
        border: none;
        display: inline-block;
      padding: 8px 15px;
      border-radius: 30px;
      width: 165px;
      text-align: center;
      transition: all .3s;
      margin: 5px 0;

      &:hover {
        background-color: transparent;
        color: red;
        border: 1px solid black;
        text-decoration: none;
      }
    }
}